@media screen and (max-width:768px){
    .row,.values {
        grid-template-columns: 1fr 1fr;
    }
    .values article {
        flex-direction: row;
        min-height: fit-content;
    }
    .services {
        flex-direction: column;
    }
    .developer,.qa{
        grid-template-columns: repeat(2,1fr);
    }
}
@media  screen and (max-width:480px) {
    .row {
        grid-template-columns: 1fr;
    }
    .developer,.qa{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width:650px){
    .contact-form .input{
        flex-direction: column;
        flex-wrap: wrap;
    }
}
@media (prefers-reduced-motion: reduce){
    main {
        animation: fade 1.5s;
    }
}
.table-container table thead tr:last-child {
    position: sticky;
    top:0;
    z-index: 100;
    background-color: #b2d5fa;
}
table tbody tr:nth-child(even){
    background-color: rgb(171, 197, 221);
}
.map-container{
    width: 400px;
    height: 400px;
    position: relative;
    border: 1px dashed rgb(73, 130, 47);
    border-radius: 50%;
    background: radial-gradient(rgba(102, 72, 43, 0.5),rgba(143, 235, 186, 0.3),rgba(163, 238, 208, 0.2));
    transition-property: box-shadow;
    transition-duration: 1s;
    transition-delay: 0.2s;
}
.map-container:hover{
    box-shadow: 1px 10px 20px 3px gray;
}
.map {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 5em;
    left: 5em;
}
#checkbox-label::before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 0.5px solid black;
    margin-right: 30px;

}